*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
    perspective: auto;
}
*::selection{
    background-color: #fff;
    color:#95C11E;
}
body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background: linear-gradient(to right, #95C11E, black)
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
}
#navbar {
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 45px;
    /* background-color: violet; */
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}
.openMenu{
    display: none;
}
.mainMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.mainMenu h4{
    text-transform: uppercase;
    font-weight: 500;
}
.closeMenu{
    font-size: 2em;
    cursor: pointer;
    display: none;
}
#navbar img{
    height: 75px;
    margin-left: -10%;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position:fixed;
    z-index: 99;
    opacity: 0;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e2c;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}
video{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.374);
    
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    
}
#page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
    
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -4px;
    left: -3px;
    -webkit-text-stroke: 1px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 17px;
    font-weight: 500;
    width: 40%;
    text-align: center;
}
#page1 #arrow{
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #95C11E;
    position: absolute;
    display: flex;
    left: -3%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
    bottom: 0%;

}
#page1 #arrow i{
font-size: 50px;
font-weight: 700;
}
#page1 #arrow:hover{
    scale: 0.5;
    background-color: #95C11E;
}
#page2{
  min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller1{
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 100px;
    color: transparent;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    -webkit-text-stroke:2px #95C11E;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    color: #95C11E;
}
/* https://sidcupfamilygolf.com/wp-content/uploads/2023/02/hero.mp4 */

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us img{
height: 220px;
width: 220px;
border-radius: 20px;
object-fit: cover;

}
#about-us-in h3{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
}

#about-us-in p{
    font-size: 19px;
    line-height: 26px;
}

#card-container{
    height: 60vh;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card{
    height: 60%;
    width: 25%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

  .overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 20px;
    padding-top: 100px;
    opacity: 0;
    transition: all ease 0.6s;

}
  .overlay h4{
    color: #000;
    font-size: 1.5rem;
    /* text-align: center; */
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    margin-top: -10%;
    margin-bottom: 2%;
    margin-left: -2%;
  }
  .overlay p{
    color: #000;
    font-size: 18px;

  }
  .card:hover .overlay{
    opacity:1;
  }

 #card-container .card:hover{
    transform: rotate3d(100,50,10,20deg) !important;
    
}
#green-div{
    /* position: relative; */
/* z-index: 10; */
/* background-color: red; */
height: 30vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
background: linear-gradient(to left bottom, #119f3a, #ace022);
/* overflow: hidden;
padding-top: 20px;
padding: 0 40px; */
}
#green-div h4{
    width: 50%;
    /* display: flex; */
    font-size: 23px;
    text-transform: uppercase;
}
#green-div img{
    padding: 0 20px;
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
height: 100vh;
width: 100%;
background-color: #000;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

#page3>p{
    font-size: 35px;
    width: 60%;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
}
#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    top: 25%;
    left: 13%;
}
#page3 #colon2{
    bottom: 25%;
    right: 15%;
}
#page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
    position: relative;
}
#page4 .elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
 .elem h2{
    height: 100%;
    width: 100%;
    font-weight: 900;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.6s;
    font-size:2rem;
    text-align: center;
    color:#000;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.5s;
    /* opacity: 0; */
}
.elem:hover h2{
    color:#fff;
    background-color: transparent;
}
.elem:hover img{
    color:#fff;
    scale: 1;
}
#page4 h1{

    text-transform: uppercase;
    position:absolute;
    text-align: center;
    font-size: 5rem;
    top: -50%;
    line-height: 1;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    -webkit-text-stroke:2px #fff;
}

#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
  }
  #footer>img{
     height: 80%;
    width: 23%; 
    /* object-fit: cover; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* padding-left: 0; */
     position: absolute;
    z-index: 1;
    left: 0; 
  }
  /* #f1{
    height: 40%;
    width: 15%;
    top: 27%;
    left: 70px;
    position: absolute; */
    /* background-color: red; */
  /* } */
  #f1 img{
    
    height: 40%;
    width: 45%;
    position: absolute;
    top: 26%;
    left: -10%;
  }
  #f2{
    /* background-color: red; */
    font-size: 1.5rem;
    /* height: 50%; */
    /* width: 20%; */
    position: absolute;
    left: 27%;
    text-transform: uppercase;
    /* color: #000; */
    }
    #f2 h3{
        text-align: center;
        color: #000;
        line-height: 50px;
    }
    #f3 {

        font-size: 1.5rem;
        position: absolute;
        left: 60%;
        text-transform: uppercase;
        /* color: #000; */
    }
    #f3 h3{
        text-align: center;
        color: #000;
        line-height: 50px;
    }
    #f4{
        font-size: 17px;
        position: absolute;
        left: 85%;
        text-transform: uppercase;
        /* color: #000; */
    }
    #f4 h4{
        text-align: center;
        color: #000;
        line-height: 25px;
    }

@media(max-width:800px){
    #navbar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden!important;
    }
    #navbar>img{
        position: absolute;
        left: 15%;
        height: 90px;
    }
    #navbar .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    #navbar .openMenu{
        display: inline-block;
        margin-left: 70%;
    }
    .mainMenu h4{
        margin-bottom: 10px;
        font-size: 30px!important;
    }
    .mainMenu h4:hover{
        background:#95C11E;
    }
    .openMenu i {
        font-size: 2rem;
        position: absolute;
        top: 30%;
        left: 90%;
    }
    #navbar .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .mainMenu h4 a:hover{
        background: none;
        color: rgb(255, 123,0);
        font-size: 1.6rem;
    }
    /* #navbar #menu{
        margin-left: -20vw!important;
        font-size: 200%;
        opacity: 1!important;
        overflow: hidden !important;
    } */
    
    video{
        overflow: hidden;
        object-fit: cover!important;
    }
    #page1 h2{
        font-size: 1.8em;
    }
    #page1 p{
        font-size: 1.5em;
    }

    #page2{
        min-height: 100vh;
        width: 100%;
    }
    #f2 h3{
        opacity: 1;
    }

    #scroller{
        margin-top: 20%;
        margin-bottom: 25%;
    }
    #scroller1 h4{
        font-size: 10vw;

    }
    #about-us{
        margin-top: 5vh;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about-us-in{
        padding: 20px;
        width: 100%;
        order: 3;
        margin-bottom: 30%;
    }
    #about-us-in p{
        font-size: 1.8em;
        line-height: 1;
    }
    #about-us img{
        height: 400px;
        width: 80%;
        margin-bottom: 10%;
    }
    #card-container{
        display: flex;
        flex-direction: column;
        height: 120vh;
        width: 100%;
        margin: 0vh 0 10vh 0;
        
    }
    .card{
        height: 50% !important;
        width: 70%;
        
    }
    .overlay h4{
        font-size: 2rem;
        margin: 1% 0  2%  0;
    }
    .overlay p{
        margin-top: 10px;
        font-size: 1.7rem;
    }
    #green-div{
        margin-bottom: 20%;
    }
    #page3{
        height: 100vh !important;
        width: 100%;
        margin-top: -20%;
        
    }
    #page3 p{
        width: 60%;
        font-size: 1.8em;
    }
    #page3 img{
        height: 4vh;
        overflow: hidden;
    }
    #colon1{
        margin-left: -4vw;
        margin-top: 4vh;
    }
    #colon2{
        margin-right: 2vw;
        margin-bottom: 4vh;
    }
    #page4 {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -15vh;
    }
    #page4 h1{
        width: 100%;
        font-size: 3em;
        text-align: center;
        position: absolute;
        /* top: 1px; */
        margin-top: 40vh!important;
        
    }
    .elem{
        height: 20vh!important;
        margin-top: -11vh;
        margin-bottom: 11vh;
        width: 80% !important;
    }
    /* .elem img{
        width: 200px!important;
    } */
    #footer{
        height: 40vh;
        width: 100%;
        position: relative;
        /* box-sizing: border-box; */
        overflow: hidden;
        display: flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    
}
#footer>img{
    height: 100%;
    width: 40%;
    /* object-fit: cover; */
}
#f1 img{
width: 150px;    
margin-left: 100px;
    }
    #f2{
        margin-top: -8rem;
        text-align: center;
        margin-left: 4vw;
    }
    #f2 h3{
        text-align: center;
        font-size: 1em;
        /* margin-top: -4rem; */
    }
#f3{
    margin-left: -25vw;
    margin-top: 13rem;
}


#f3 h3{
    font-size: 1em;
    font-weight: 700;
}
#f4{
    margin-left: -10%;
    font-weight: 500;
    font-size: 20px;
    /* margin-top: 50px; */
}

}
    
    @media (max-width:600px){

        #navbar{
            display: flex;
            justify-content: flex-start;
            overflow: hidden!important;
            margin-bottom: 5%;
        }
        #navbar img{
            padding-left: 0%;
            height: 50%;
        }
        #navbar .mainMenu{
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000;
            transition: top 1s ease;
            display: none;
        }

        #navbar .openMenu{
            display: inline-block;
            margin-left: 70%;
            /* overflow: hidden; */
        }
        .mainMenu h4{
            margin-bottom: 10px;
            font-size: 30px!important;
        }
        .mainMenu h4:hover{
            background:#95C11E;
        }
        .openMenu i {
            font-size: 2rem;
        }
        #navbar .mainMenu .closeMenu{
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        nav .mainMenu h4 a:hover{
            background: none;
            color: rgb(255, 123,0);
            font-size: 1.6rem;
        }
        /* #navbar #menu{
            margin-left: -20vw!important;
            font-size: 200%;
            opacity: 1!important;
            overflow: hidden !important;
        } */
        
        video{
            overflow: hidden;
            object-fit: cover!important;
        }
        
        #page1 h1{
            font-size: 7vh;
        }
        #page1 h1::before{
            content: "EAT. DRINK. PLAY.";
            position: absolute;
            color: #000;
            top: -4px;
            left: -3px;
            -webkit-text-stroke: 1px #95C11E;
            z-index: -1;
            /* font-size: 10vh; */
        }
        #page1 h2{
            font-size: 1.6em;
        }
        #page1 p{
            font-size: 1.3em;
            width: 100%;
            margin-bottom: 15%;
        }

        /* #arrow {
            overflow: hidden;
        } */
        #page2{
            min-height: 100vh;
            width: 100%;
        }
        #f2 h3{
            opacity: 0;
        }

        #scroller{
            overflow: hidden;
            margin-top: 20vh;
            margin-bottom: 10%;
        }
        #scroller1 h4{
            font-size: 240%;
        }
        #about-us{
            margin-top: 5vh;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #about-us #img1 {
            width: 100%;
        }
        #about-us #img2{
            width: 100%;
        }
        #about-us-in{
            /* padding: 20px; */
            width: 100%;
            order: 3;
            margin-bottom: 10%;
        }
        #about-us-in h3{
            font-size: 2.5rem;
        }
        #about-us-in p{
            font-size: 1.5em;
        }
        #about-us img{
            height: 35%;
            width: 70%;
            margin-bottom: 10%;
        }
        #card-container{
            display: flex;
            flex-direction: column;
            height: 120vh;
            width: 100%;
            margin: 10vh 0;
            
        }
        .card{
            height: 50% !important;
            width: 80%;
            
        }
        .overlay h4{
            font-size: 1.6rem;
            margin-bottom: 10%;
        }
        .overlay p{
            margin-top: -10px;
            font-size: 1.3em;
        }
        #page3{
            height: 100vh !important;
            width: 100%;
        }
    
        #page3 p::before{
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background-color: #66BE2B;
            transform: rotate(10deg);
            margin-bottom: 40px;
        }
                
        #page3 p{
            width: 70%;
            text-align: center;
            font-size: 1.5rem;
            line-height: 1;
        }
        #page3 p::after{
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            margin-top: 40px;
            background-color: #66BE2B;
            transform: rotate(10deg);
        }
        #page3 img{
            height: 3%;
            overflow: hidden;
        }
        #colon1{
            margin-left: -2rem;
            margin-top: 2rem;
            display: none;
        }
        #colon2{
            margin-right: -2rem;
            margin-bottom: 2rem;
            display: none;
        }
        #page4 {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: -15vh;
        }
        #page4 h1{
            font-size: 2rem;
            text-align: center;
            position: absolute;
        
            margin-top: 44vh!important;
            
        }
        .elem{
            height: 20vh!important;
            margin-top: -11vh;
            margin-bottom: 11vh;
            width: 80% !important;
        }
        .elem h2{
            font-size: 1.8rem;
            text-align: center;
        }
        /* .elem img{
            width: 200px!important;
        } */
        #footer{
            height: 40vh;
            width: 100%;
            position: relative;
            /* box-sizing: border-box; */
            overflow: hidden;
            display: flex !important;
            align-items: center !important;
            justify-content: space-evenly !important;
        
    }
    #footer>img{

        overflow: hidden;
        /* height: 30vh!important; */
        width: 40%;
        height: 100%;
        object-fit: cover;
        margin-left: -5%;
    }
    #f1 img{
    width: 25%;    
    margin-left: 14%;
    margin-top: 1%;
        }
    #f2{
        margin-top: -16%;
        margin-right: 12%;
        
    }
    
    #f3{
        margin-top: -6%;
        margin-left: -23vw;
    }
    #f3 h3{
        font-size: 1rem;
        font-weight: 900;
        line-height: 2;
        /* opacity: 0; */
    }
    #f4{
        overflow: hidden;
        /* opacity: 0; */
        margin-left: -18%;
        /* margin-top: 50px; */
    }
    #f4 h4{
        margin-top: 10%;
        font-size: 1rem;
        font-weight: 900;
        line-height: 1.5;
    }
    }

    @media(max-width:412px){
        #scroller{
            margin-bottom: 40%;
        }
        /* #overlay{
            margin-bottom: 20vh;
        } */
        #about-us-in h3{
            font-size: 2rem;
        }
        #about-us-in p{
            font-size: 1.2rem;
        }
        .overlay h4{
            /* background-color: red!important; */
            margin-top: -20%!important;
            /* padding-bottom: 12%; */
        }
        #arrow{
            position: absolute;
            top: 33.4rem;
        }
        .overlay p{
            font-size: 1.1rem;
            margin-bottom: 100%!important;
        }
        #page4 h1{
            margin-top: 19rem!important;
            /* margin-bottom: 100%!important; */
            /* background: red!important; */
        }
        #f1 img{
            margin-top: -10%;
        }
        #f3 h3{
            margin-right: 30rem;
        }

    }

    @media (max-width:320px){
      #navbar {
        height: 20vh;
        width: 100%;
      }
      .openMenu i{
        margin-left: -1rem!important;
      }
      #page1 h1{
        margin-top: 50%;
      }
      #arrow{
        position: absolute;
        top: 32rem;
    }
    #scroller{
        margin-top:15rem;
        margin-bottom: 10rem;
    }
    #about-us-in{
        width: 100%;
    }
    #about-us-in h3{
        font-size: 1.5rem;
    }
    #about-us-in p{
        font-size: 1.1rem;
    }
    .overlay{
        padding-bottom: 30%;
    }
    .overlay h4{
        margin-top: -4.5rem!important;
        font-size: 1rem;
    }
    .overlay p{
        line-height: 1;
        }
    #green-div{
        overflow: hidden;
    }
    #green-div h4{
        font-size: 1.2rem;
    }
    #page3{
        height: 100%;
        margin-bottom: 30vh;
    }
    #page3 p{
        font-size: 1.2rem;
    }
    #page4 {
        height: 100vh;
    }
    #page4 h1{
        margin-top: 8rem!important;
    }
    #footer{
        padding: 5rem;
        margin-right: 5rem!important;
    }
    #f3 h3{
        font-size: .8rem;
        line-height: 1;
        margin-right: 30%;
    }
    #f4 h4{
        font-size: .8rem;
        line-height: 1.5;
    }
}